html, body {
    margin: 3rem 0 0 0;
    padding: 0;
}
header {
    background-color: aqua;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
}
#game {
    text-align: center;
}
#scoreBoard{
    display: block;
    background-color: blue;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
}